
$theme-colors: (
    "light-gray": #e6e6e6,
);


// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/alert";

html, body, #root{
    height: 100%;
}

.btn-logout{
    position: absolute;
    right: 1rem;
    top: 1rem;
}